// Sprites for the page
$view-sprite: sprite-map(
	"home/*.png",
	$home-spacing: 2px,
	$home-txgov-spacing: 5px
);

@import "partials/normalize";
@import "partials/colors";
@import "partials/utils";
@import "partials/fonts";
@import "partials/browsehappy";
@import "partials/header";
@import "partials/sitenav";
@import "partials/sponsors";
@import "partials/content";
@import "partials/footer";
