$black        : #000000;
$blue         : #0066ff;
$green        : green;
$red          : red;
$white        : #ffffff;
$yellow       : #f6dd25;

$light-gray   : #f2f2f2;
$dark-gray    : #4d4d4d;
$twitter-blue : #39a7d7;
