p, ul {
	@extend %p;
}

a {
	@extend %p;
	color: $dark-gray;
	text-decoration: none;
	font-weight: bold;

	&:visited {
		color: $dark-gray;
	}

	&:hover, &:active {
		text-decoration: underline;
	}
}


