.sitenav {
	background-color: darken($energyyellow, 10%);
	border-top: 1px solid darken($energyyellow, 20%);
	border-bottom: 1px solid darken($energyyellow, 20%);
	padding: 1em;
	text-align: center;
}
