.speaker {
	background: $dark-gray;
	color: $white;

	a {
		color: #33f5f4;
		text-decoration: none;

		&:visited {
			color: #33f5f4;
		}

		&:hover, &:active {
			text-decoration: underline;
		}
	}
}

.speaker-title {
	text-align: center;
}
