@import "compass";

.fourkitchens {
	background: sprite($view-sprite, fourkitchens);
	height: image-height(sprite-file($view-sprite, fourkitchens));
	width: image-width(sprite-file($view-sprite, fourkitchens));
	display: block;
	text-indent: -9999px;
}

.retailmenot {
	background: sprite($view-sprite, retailmenotinc);
	height: image-height(sprite-file($view-sprite, retailmenotinc));
	width: image-width(sprite-file($view-sprite, retailmenotinc));
	display: block;
	text-indent: -9999px;
}

.watchmecode {
	background: sprite($view-sprite, watchmecode);
	height: image-height(sprite-file($view-sprite, watchmecode));
	width: image-width(sprite-file($view-sprite, watchmecode));
	display: block;
	text-indent: -9999px;
}

.txgov {
	background: sprite($view-sprite, txgov);
	height: image-height(sprite-file($view-sprite, txgov));
	width: image-width(sprite-file($view-sprite, txgov));
	display: block;
	text-indent: -9999px;
}

.sponsors {
	background-color: $lightgray;
	border-bottom: 1px solid $gray;
	padding: 2em;

	h1 {
		font-size: 1.5em;
		line-height: 1.25em;
		text-align: center;
		margin: 0;
	}
}
.sponsorlist {
	margin: 0;
	padding: 2em 0 0;
	list-style: none;
	text-align: center;
	@include pie-clearfix();

	li {
		display: inline-block;
		margin-left: 2em;
		&:first-child {
			margin-left: 0;
		}
	}
}
