@import 'compass';

.sponsors {
	background: $white;
}

.sponsor-title {
	text-align: center;
	@extend %h2;
}

.sponsorlist {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

	li {
		background: white;
		display: inline-block;
		margin: 0 .5em 1em;
		overflow: hidden;
		padding: 1em;
	}
}

%sponsor-image {
	display: block;
	text-indent: -9999px;
}

.fourkitchens {
	@extend %sponsor-image;
	background: sprite($view-sprite, fourkitchens);
	height: image-height(sprite-file($view-sprite, fourkitchens));
	width: image-width(sprite-file($view-sprite, fourkitchens));
}

.retailmenot {
	@extend %sponsor-image;
	background: sprite($view-sprite, retailmenotinc);
	height: image-height(sprite-file($view-sprite, retailmenotinc));
	width: image-width(sprite-file($view-sprite, retailmenotinc));
}

.watchmecode {
	@extend %sponsor-image;
	background: sprite($view-sprite, watchmecode);
	height: image-height(sprite-file($view-sprite, watchmecode));
	width: image-width(sprite-file($view-sprite, watchmecode));
}

.txgov {
	@extend %sponsor-image;
	background: sprite($view-sprite, txgov);
	height: image-height(sprite-file($view-sprite, txgov));
	width: image-width(sprite-file($view-sprite, txgov));
}

.jstilwell {
	text-align: bottom;
	line-height: 62px;
	font-size: 36px;
}
